<head>
    <meta charset="utf-8">
    <script src="js/epiceditor.js"></script>
</head>
<body>
    <div id="epiceditor"></div>
</body>
<script type="text/javascript">
    var editor = new EpicEditor().load();
</script>

<h1>Edit Wiki</h1>

	<%= form_for @mywiki do |f| %>
		<div>
			<%= f.label :title %>
			<%= markdown f.text_field :title, :size => 75 %>
		</div>
		<div>
			<%= f.label :body %>
			<%= markdown f.text_area :body, :rows => "35", :cols => "75" %>
		</div>
			
		<%= f.submit %>

	<% end %>
