<h1>Edit Wiki</h1>

<%= form_for @mywiki do |f| %>
	<div>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div>
		<%= f.label :body %>
		<%= f.text_area :body %>
	</div>

	<% Collaborator.all.each do |collaborator| %>
		<%= check_box_tag "user[collaborator_ids][]", collaborator.id %>
		<%= collaborator.name %><br/>
	<% end %>
		
	<%= f.submit %>

<% end %>