<%= link_to "New wiki", new_mywiki_path %>
<%= link_to "View all public wikis", mywikis_path(all_wikis: true) %>

<h1>Wiki Index</h1>
<p>Find me in app/views/mywikis/index.html.erb</p>

<% @mywikis.each do |mywiki| %>
	<h3><%= markdown mywiki.title %></h3>
	<p><%= markdown mywiki.body %><p>
	<%= link_to "Delete", mywiki, method: :delete, data: {confirm: 'Are you certain you want to delete this wiki?'}, remote: true %>
  <%= link_to "Edit", edit_mywiki_path(mywiki) %>
	<%= link_to "View", mywiki_path(mywiki) %>
<% end %>

