<%= link_to "New Mywiki", new_mywiki_path %>

<%= form_for(@mywiki) do |f| %>
	<div>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div>
		<%= f.label :body %>
		<%= f.text_area :body %>
	</div>
		
		<%= f.submit %>

		</p>This is a great page</p>

<% end %>