<h3><%= @mywiki.title %></h3>


<h5>Add collaborators</h5>
<%= form_for @mywiki do %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Give access</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <%= div_for(user) do %>
            <td><%= user.name %></td>
            <td><%= label_tag :user_ids, user.email %></td>
            <td><%= check_box_tag :user_ids, user.id, @mywiki.users.include?(user), name: 'mywiki[user_ids][]' %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag 'Add collaborators' %>
<% end %>
